.app {
  margin-top: 5vh;
}
#canvas {
  border: 1px solid blue;
  max-width: 100%;
}

.inputs-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  margin: 0.5em;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.sifs-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.btn-sif {
  margin: 0.5em 0.2em;
}

canvas {
  margin: 50px auto 0 auto;

}